.homeCards {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

.card {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
