#play {
  border: none;
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 1;
  margin: auto;
  width: 5%;
  height: 5%;
  margin-top: 10px;
  cursor: pointer;
}

#cardFlip {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  margin: auto;
  width: 5%;
  height: 5%;
  margin-top: 10px;
  cursor: pointer;
}

.homeCards {
  display: inline-block;
  margin: 0 10px;
}

.card {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  color: aliceblue;
  font-size: 15px;

}
